# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/
build/
**/build/

# Variables de entorno
.env
.env.*
!.env.example
!**/.env.example

# Logs
*.log
logs/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# Vercel
.vercel/

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea/

# Archivos temporales
*.tmp
*.temp
